/* Home styling */
.jumbotron{
    margin-bottom: 0px;
}

.welcome {
    color: whitesmoke;
    font-size: 70px;
    
}

/* About section styling */
.about-div{
    background-color: #0a0909;
    height: 500px;
    
}
.about-heading{
    color: whitesmoke;
    text-align: center;
}

/* navbar styling */
.nav {
    background-color: #0a0909;
}
.nav-text{
    color:whitesmoke;
}

/* project styling */
.card {
    width: 25%;
    display: inline-block;
    
}
/* project gallery styling */

/* .project-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
/* .projects{
    width:500px
} */