/* Home styling */
.welcome {
    color: whitesmoke;
    font-size: 60px;
    
}
.welcome-p{
    color: whitesmoke;
    font-size: 20px;
}
.aboutme{
    background-color: #0a0909;
    z-index: 10000;
    padding: 10px;
    opacity: 0.8;
}
.homepage {
    background-image: url(./images/image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    width:100%;
    height:100%;
    top: auto;
    left:0px;
    z-index:1000;
    
}

.profilepic{
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 25%;
  margin-top: 20px;
  padding:10px
    
}

/* navbar styling */
.nav {
    background-color: #0a0909;
}
.nav-item{
    padding: 15px;
}
.nav-text{
    text-decoration: none;
    margin: 10px 0 0 10px;
    color: whitesmoke;
    transition: 0.5s;
}
.nav-text:hover{
    text-decoration: none;
    color: lightskyblue;
}
.nav-bg{
    background-color: rgba(0, 0, 0, 0.9);
    
}

/* project styling */
.card{
    width:500px !important;
    background-color: black !important;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
.card-img-top {
    height: 400px;
    width: 200px;
    display: inline-block;
    
}
.gallery{
    background-image: url(./images/image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* position:fixed; */
    width:100%;
    height:100%;
    top: auto;
    left:0px;
    z-index:1000;
    display: block;
    margin: auto;

}
.projectheader{
    color: white;
    text-align: center;
}
.projectheaderdiv{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* contact me styling */
.contact-heading {
    color: whitesmoke;
    text-align: center;
    

}

.text {
    color: whitesmoke;
}

.contact-div {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.contactme{
    background-image: url(./images/image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    width:100%;
    height:100%;
    top: auto;
    left:0px;
    z-index:1000;
}

.icon{
  display: flex;
  justify-content: space-around;
}


