/* Home styling */
.jumbotron{
    margin-bottom: 0px;
    height: 100%; 
}

.welcome {
    color: whitesmoke;
    font-size: 70px;
    
}


/* About section styling */
.about-div{
    background-color: #0a0909;
    height: 60;
    display: flex;
    
}
.about-heading{
    color: whitesmoke;
    text-align: center;
}

.profilepic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 20px;
  padding:10px
    
}
.about-text{
    color: whitesmoke
}
/* navbar styling */
.nav {
    background-color: #0a0909;
}

.active {
    color:black !important
}

/* project styling */
.card{
    width:500px !important;
    background-color: black !important
    ;
}
.card-img-top {
    height: 400px;
    width: 200px;
    display: inline-block;
    
}
.main-card :hover {
background-color: grey;
}

/* contact me styling */
.contact-heading {
    color: whitesmoke;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    

}

.contact-text {
    color: whitesmoke;
}

.contact-div {
    padding: 10px;
}

.icon{
  display: flex;
  justify-content: space-around;
}


